@layer reset, global, conponents, overrides;

@import url("./reset.css") layer(reset);

@import url("https://fonts.googleapis.com/css2?family=Romanesco&display=swap");

@layer global {
  html {
    font-family: Georgia, sans-serif;
  }

  h1 {
    font-family: "Romanesco", sans-serif;
  }

  :root {
    --Primary-01: rgb(250, 240, 220);
    --Primary-02: rgba(252, 220, 220, 1);
    --Primary-03: rgb(254, 248, 248);
    --Primary-06: rgba(24, 24, 24, 1);
    --Primary-07: rgba(54, 132, 45, 1);
    --Primary-08: rgb(43, 108, 30);
  }

  :root {
    --step--3: clamp(0.5208rem, 0.0437rem + 2.3417vw, 1.2rem);
    --step--2: clamp(0.5208rem, 0.0437rem + 2.3417vw, 1.7rem);
    --step--1: clamp(0.625rem, 0.0189rem + 2.9748vw, 2.25rem);
    --step-0: clamp(0.75rem, -0.0193rem + 3.7757vw, 2.8125rem);
    --step-1: clamp(0.9rem, -0.0756rem + 4.7883vw, 3.5156rem);
    --step-2: clamp(1.08rem, -0.1563rem + 6.0678vw, 4.3945rem);
    --step-3: clamp(1.296rem, -0.2695rem + 7.6836vw, 5.4932rem);
    --step-4: clamp(1.5552rem, -0.4259rem + 9.7231vw, 6.8665rem);
    --step-5: clamp(1.8662rem, -0.6391rem + 12.2963vw, 8.5831rem);
  }

  :root {
    --content-width: 70rem;
  }
}
