---
import "../layouts/Layout.astro";
import "../styles/global.css";

---

</Layout>
	<main>
		<h1>Astrid Lindholm</h1>
	</main>
</Layout>

<style>
body{
	background-color: var(--Primary-06);
}

h1{
	font-family: "Romanesco", cursive;
	color: var(--Primary-07);
}
</style>
