---
import "../styles/global.css";
---
<article>
    <img class="billedet" src="/pige-1.webp" alt="">
    <div class="tekst">
      <h1>Astrid Lindholm</h1>
      <h1 class="m1">Multimediedesign </h1>
      <h1 class="m2"> studerende</h1> 
    </div>
 </article>

 <style>
	article {
  background-color: var(--Primary-01);
  display: grid;
  grid-template-columns: 3fr 5fr;
  padding: 2%;

img {
  z-index: 1; 
  width: 100%; 
  text-align: center;
}

h1 {
  color: var(--Primary-07);
  font-size: var(--step-5);
  padding-left: 3%;
  z-index: 2; 
}

.m1 {
  margin-left: 15%;
}

.m2 {
  margin-left: 5%;
}
}
</style>