---
import "../styles/global.css";
---
<article>
	<img class="billedet-1" src="/pige.webp" alt="">
	<div class="tekst">
		<h1>Astrid Lindholm</h1>
		<h1 class="m1">Multimediedesign </h1>
		<h1 class="m2"> studerende</h2>
	</div>
</article>

<style>
	article {
  background-color: var(--Primary-01);
  display: grid;
  grid-template-columns: 3fr 5fr;
  padding: 2%;

.billedet-1{
  z-index: 1; 
  width: 100%; 
  text-align: center;
}

h1 {
  color: var(--Primary-07);
  font-size: var(--step-5);
  padding-left: 3%;
  z-index: 2; 
}

.m1 {
  margin-left: 15%;
}

.m2 {
  margin-left: 5%;
}
	}
</style>
