---
import "../styles/global.css";

---
<article>
    <h2>Mine projekter</h2>
<p>Som en del af multimediedesigneruddannelsen har jeg løst en række opgaver, hvor jeg har anvendt min teoretiske viden i praksis. Dette har givet mig mulighed for at omsætte min læring til konkrete projekter. Nedenfor kan I se nogle af de konkrete projekter:</p>


</article>

<style>
article{
background-color: var(--Primary-0);
display: grid;
grid-template-columns: 1fr minmax(0, 1200px) 1fr;

h2{
    font-size: var(--step--1);
    grid-column: 2;
	max-inline-size: 60ch;
    padding-top: 5%;
}

    p{
    font-size: var(--step--2);
    grid-column: 2;
	max-inline-size: 60ch;
    padding-top: 5%;
}
}

</style>

<main>

    <section class="full">
      <header>
        <h2>Financial Projections</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
      </header>
      
      <ul role="list">
        <li>
          <h3>The Balance Sheet</h3>
          <p>The Balance Sheet is a summary of the assets and liabilities and equity of a business at a specific point of time.</p>
        </li>
        
        <li>
          <h3>Income Statement</h3>
          <p>The Income (Profit and Loss) Statement, commonly referred to as the P&L statement, summarizes the revenue and expenses for a specific time period (one month, one quarter, one year, etc.)</p>
        </li>
        
        <li>
          <h3>Financial Plan</h3>
          <p>Keep your information current and review the documents on a regular basis (monthly or more often if needed). Review them with key individuals within your company.</p>
        </li>
        
        <li>
          <h3>Financial Ratios</h3>
          <p>Ratios are useful when comparing your company with the competition on financial performance and also when benchmarking the performance of your company.</p>
        </li>
      </ul>
  
    </section>
  
  </main>